<section class="container">
    <h2 class="title">QR Code Generator</h2>
    <div>
        <input type="text" class="inputs" [(ngModel)]="inputText" placeholder="Plain text">
        <input type="text" class="inputs" [(ngModel)]="logoUrl" placeholder="Logo url">
        <button (click)="setQR()" class="button-full">
            Generate
        </button>
    </div>
    @if (qrcode) {
        <div class="qrcode">
            <qrcode 
            [qrdata]="qrcode"
            [width]="300"
            [errorCorrectionLevel]="'M'"
            [imageSrc]="logoUrl"
            />
        </div>
    }
</section>